title: "Bishwa's Site"
description: "Personal site built with Jekyll and GitHub Pages"
url: "" # Add your site URL here
baseurl: "" # Add your baseurl if needed

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter_opts:
    css_class: "highlight"
  hard_wrap: false
  auto_ids: true

timezone: "UTC"
encoding: UTF-8

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate

paginate: 10
paginate_path: "/blog/page:num/"

collections:
  pages:
    output: true
    permalink: /:path/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"