.journals-intro {
  max-width: 800px;
  margin: 0 auto 2rem;
  text-align: center;
}

.journals-intro h1 {
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
}

.intro-text {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
}

.journal-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.journal-card {
  width: 40%;
  height: 500px;
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 15px rgba(92, 1, 1, 0.267);
  border: 1px solid #eee;
  transition: transform .2s ease, box-shadow .2s ease;
}

.journal-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.journal-card-link {
  text-decoration: none;
  color: inherit;
}

.journal-title {
  font-size: 1.15rem;
  margin: 0 0 .5rem;
  color: #270000;
}

.journal-meta {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.journal-excerpt {
  color: #000000;
  line-height: 1.5;
  font-size: 1rem;
  background-color: rgba(129, 133, 133, 0.205);
}

.no-publications {
  text-align: center;
  color: #555;
  margin-top: 2rem;
}
